<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proj.abhi.mytermplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue"
        android:hardwareAccelerated="true">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TermActivity"
            android:label="@string/term_editor"
            android:parentActivityName=".activities.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:label="@string/prof_editor"
            android:parentActivityName=".activities.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.CourseActivity"
            android:label="@string/course_editor"
            android:parentActivityName=".activities.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TermActivity" />
        </activity>
        <activity
            android:name=".activities.AssessmentActivity"
            android:label="@string/assessment_editor"
            android:parentActivityName=".activities.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseActivity" />
        </activity>
        <activity
            android:name=".activities.TaskActivity"
            android:label="@string/task_editor"
            android:parentActivityName=".activities.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <provider
            android:authorities="com.proj.abhi.homecoursesprovider"
            android:name=".providers.CoursesProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.homeassessmentsprovider"
            android:name=".providers.HomeAssessmentsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.termsprovider"
            android:name=".providers.TermsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.coursesprovider"
            android:name=".providers.CoursesProviderOld"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.assessmentsprovider"
            android:name=".providers.AssessmentsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.contactsprovider"
            android:name=".providers.ContactsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.phonesprovider"
            android:name=".providers.PhonesProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.emailsprovider"
            android:name=".providers.EmailsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.coursescontactsprovider"
            android:name=".providers.CoursesContactsProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.tasksprovider"
            android:name=".providers.TasksProvider"
            android:exported="false" />
        <provider
            android:authorities="com.proj.abhi.alarmsprovider"
            android:name=".providers.AlarmsProvider"
            android:exported="false" />
        <service android:name=".services.AlarmService" android:enabled="true"/>
        <service android:name=".services.NotifyService" android:enabled="true">
            <intent-filter>
                <action android:name="com.proj.abhi.mytermplanner.NotifyService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest>